/* Write your CSS here */
.event-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.event-image {
  width: 300px;
  margin: 20px;
}

.event-name {
  font-size: 18px;
  width: 300px;
}
